@model SysPerson.App.Models.Pessoa.PessoaFormularioViewModel

<div id="container-pessoa-juridica" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group form-float">
                <br />
                <div class="form-line">
                    @Html.TextBoxFor(model => model.Cnpj, new { @class = "form-control cnpj", @maxlength = "18" })
                    <label class="form-label obrigatorio">CNPJ</label>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label obrigatorio">Tipo Empresa</label>
            <div class="form-group">
                @Html.DropDownListFor(model => model.TipoEmpresaPjId, Model.SelectListItemListaTipoEmpresaPj, "Selecione..", new { @class = "form-control consulta", @Id = "TipoEmpresaPjId" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <div class="form-line">
                    @Html.TextBoxFor(model => model.RazaoSocial, new { @class = "form-control" })
                    <label class="form-label obrigatorio">Razão Social</label>
                </div>
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <div class="form-line">
                    @Html.TextBoxFor(model => model.NomeFantasia, new { @class = "form-control" })
                    <label class="form-label obrigatorio">Nome Fantasia</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <br/>
                <div class="form-line">
                    @Html.TextBoxFor(model => model.DataConstituicao, new { @class = "datepicker form-control" })
                    <label class="form-label">Data Constituição</label>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <label class="control-label obrigatorio">Porte</label>
            <div class="form-group">
                @Html.DropDownListFor(model => model.PorteId, Model.SelectListItemListaPorte, "Selecione..", new { @class = "form-control consulta", @Id = "PorteId" })
            </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <br/>
                <div class="form-line">
                    @Html.TextBoxFor(model => model.TelefonePrincipalEmpresa, new { @class = "form-control telefone" })
                    <label class="form-label">Fone 1</label>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <br />
                <div class="form-line">
                    @Html.TextBoxFor(model => model.TelefoneSecundarioEmpresa, new { @class = "form-control telefone" })
                    <label class="form-label">Fone 2</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <div class="form-line">
                    @Html.TextBoxFor(model => model.TelefoneReservaEmpresa, new { @class = "form-control telefone" })
                    <label class="form-label">Fone 3</label>
                </div>
            </div>
        </div>
        <div class="col col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <div class="form-line">
                    @Html.TextBoxFor(model => model.Website, new { @class = "form-control" })
                    <label class="form-label">Website</label>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <div class="form-line">
                    @Html.TextBoxFor(model => model.EmailPrincipal, new { @class = "form-control" })
                    <label class="form-label">Email Princípal</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <label class="control-label">Caracterização do Capital</label>
            <div class="form-group">
                @Html.DropDownListFor(model => model.CaracterizacaoCapitalId, Model.SelectListItemListaCaracterizacaoCapital, "Selecione..", new { @class = "form-control consulta", @Id = "CaracterizacaoCapitalId" })
            </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <br/>
                <div class="form-line">
                    @Html.TextBoxFor(model => model.QuantidadeQuota, new { @class = "form-control" })
                    <label class="form-label">Quantidade Quota</label>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <br />
                <div class="form-line">
                    @Html.TextBoxFor(model => model.ValorQuota, new { @class = "form-control" })
                    <label class="form-label">Valor Quota</label>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group form-float">
                <br />
                <div class="form-line">
                    @Html.TextBoxFor(model => model.CapitalSocial, new { @class = "form-control" })
                    <label class="form-label obrigatorio">Capital Social</label>
                </div>
            </div>
        </div>
    </div>
</div>