@model SysPerson.App.Models.Pessoa.PessoaFormularioViewModel
@using SysPerson.App.Helpers;

@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="material-icons">home</i> <b>Início</b>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Pessoa")">
                    <i class="material-icons">list</i> <b>Pessoas</b>
                </a>
            </li>
            <li>
                <i class="material-icons">assignment</i> <b>Cadastro</b>
            </li>
        </ol>
        <div class="card">
            @using (Html.BeginForm(Model.NovoCadastro ? "Adicionar" : "Alterar", "Pessoa", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="header">
                    <h2>
                        @Html.Voltar("/Pessoa/Index") Pessoa
                    </h2>
                    <div class="hidden-sm hidden-xs">
                        <small><b>Cadastre pessoas para que possa utilizar no sistema.</b></small>
                        <ul class="header-dropdown m-r--5">
                            @if (!Model.NovoCadastro)
                            {
                                <li>
                                    <button type='button' onclick="showModal('@Url.Action("Excluir", "Pessoa", new { id = Model.Id, index = false })')" class='btn btn-lg bg-red'>EXCLUIR</button>
                                </li>
                            }
                            <li>
                                @Html.Salvar()
                            </li>
                            @if (Model.NovoCadastro)
                            {
                                <li>
                                    @Html.SalvarNovo()
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="body">
                    @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span><b>- Campos marcados com <span class="obrigatorio"></span> são obrigatórios.</b></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label for="TipoPessoaId" class="obrigatorio">Tipo Pessoa</label>
                            <div class="form-group form-float">
                                @Html.DropDownListFor(model => model.TipoPessoaId, Model.SelectListItemListaTipoPessoa, "Selecione..", new { @class = "form-control consulta", @Id = "TipoPessoaId" })
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label for="Nacional" class="obrigatorio">Nacional</label>
                            <div class="form-group">
                                @Html.EnumDropDownListFor(model => model.Nacional, "Selecione..", new { @class = "form-control consulta", @Id = "Nacional" })
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group form-float">
                                <br />
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.DataUltimaAtualizacao, new { @class = "form-control" })
                                    <label class="form-label">Dt. Últ. Atualização</label>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label for="Ativa"></label>
                            <div class="demo-checkbox padding-label-checkbox-modal">
                                <input type="checkbox" id="Ativa" checked="@Model.Ativa" value="true" name="Ativa" class="filled-in chk-col-orange">
                                <label for="Ativa">
                                    Ativa
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @Html.Partial("~/Views/Pessoa/_PessoaFisica.cshtml", Model)
                        @Html.Partial("~/Views/Pessoa/_PessoaJuridica.cshtml", Model)
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section estilos{
    @Styles.Render("~/Content/componentes/checkbox")
}

@section scripts{
    @Scripts.Render("~/bundles/componentes/select2")
    @Scripts.Render("~/bundles/componentes/maskedinput")
    @Scripts.Render("~/bundles/componentes/maskmoney")
    @Scripts.Render("~/bundles/views/pessoa/formulario")
}